{% extends "layout.html" %}

{% block content %}

{# SEARCH INPUT #}
<main id="home">
    <section id="top" class="hero">
        <div class="background columns is-centered">
            <div class="column is-8">
                <h1 class="title is-1">Discover and localize projects</h1>
                <form action="/recherche" method="GET" class="columns">
                    <div class="column is-10">
                        <div class="image-container"><img src="/static/icons/icon_search_violet.svg"></div>
                        <input 
                            type="search" 
                            name="text"
                            class="input"
                            placeholder="What theme are you interested in ?">
                        </input>
                    </div>
                    <div class="column is-2 is-hidden-touch">
                        <button class="button is-fullwidth" type="submit">Search</button>
                    </div>
                </form>
                <h3>
                    <span class="counter"></span>
                    <span class="text">projects already accessibles</span>
                </h3>
            </div>
        </div>
    </section>


</main>

<script>
'use strict';

const projectCountP = fetch('http://www.cis-openscraper.com/api/infos')
.then(r => r.json())
.then(res => res.counts.data)

document.addEventListener('DOMContentLoaded', e => {
    // counter
    const DELAY = 1000;
    
    const counter = document.querySelector('#top .counter')
    projectCountP.then(projectCount => {
        const start = performance.now();

        (function step(){
            requestAnimationFrame(now => {
                const elapsed = now - start;
                let fraction = elapsed/DELAY;
                if(fraction >= 1)
                    fraction = 1;

                // ease out expo to stabilize the significative numbers quickly
                const toDisplay = projectCount * (1 - (fraction === 1 ? 0 : Math.pow(2, -10*fraction)));

                counter.textContent = Math.round(Math.max(0, toDisplay));

                if(fraction < 1){
                    step();
                }
            })
        })();
    })


    // témoignages
    let shift = 0;
    const SHIFT_UNIT = 15; // em
    const TESTIMONY_COUNT = document.querySelectorAll('#témoignages ul.caroussel-content li').length;
    const TESIMONY_SHOWN = 3;

    const carousselContainer = document.querySelector('#témoignages .caroussel-content')
    const nextButton = document.querySelector('#témoignages .caroussel .next')
    const previousButton = document.querySelector('#témoignages .caroussel .previous')
    
    previousButton.addEventListener('click', e => {
        if(shift >= 1)
            shift -= 1;
        carousselContainer.style.transform = `translateX(-${shift*SHIFT_UNIT}em)`
    })
    
    nextButton.addEventListener('click', e => {
        if(shift < TESTIMONY_COUNT-TESIMONY_SHOWN)
            shift += 1;
        carousselContainer.style.transform = `translateX(-${shift*SHIFT_UNIT}em)`
    })

}, {once: true})
</script>

{% endblock %}